@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.app {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
.search-field {
	width: 25%;
	padding: 0.75rem 1rem;
	border-radius: 1rem;
	outline: none;
	font-size: 1rem;
	border: solid #333;
}
