@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.app {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	padding: 1rem;
}
.search-field {
	width: 25%;
	padding: 0.75rem 1rem;
	border-radius: 1rem;
	outline: none;
	font-size: 1rem;
	border: solid #333;
	text-align: center;
}
.card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	width: 15rem;
	border-radius: 1rem;
	border: 0.5rem solid rgb(3, 150, 183);
	margin: 1rem;
	padding: 0.75rem;
	background: #00d2ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#00d2ff,
		#3a7bd5
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#00d2ff,
		#3a7bd5
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.25);
}
.card * {
	overflow: hidden;
	text-overflow: ellipsis;
}
.card img {
	border: 0.15rem solid black;
}
.card .description {
	border: 0.2rem solid rgba(0, 0, 0, 0.05);
}
.card .name {
	margin-bottom: 0.25rem;
	font-size: 1.5rem;
	text-transform: capitalize;
}
.card .email {
	font-size: 0.75rem;
}
