@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.app {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	padding: 1rem;
}
.search-field {
	width: 25%;
	padding: 0.75rem 1rem;
	border-radius: 1rem;
	outline: none;
	font-size: 1rem;
	border: solid #333;
	text-align: center;
}
.card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card {
	width: 15rem;
	border-radius: 1rem;
	margin: 1rem;
	padding: 0.75rem;
	background-color: #d3d3d3;
}
.card .name {
	text-transform: capitalize;
}
